.contact-container {
  position: relative;
  margin-top: 50%;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  margin: auto;
  height: 80vh;
}

.contact-container h2 {
  margin-top: 30%;
  text-align: center;
  color: var(--light-gray);
  font-weight: bold;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #ffffff;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.form-group textarea {
  height: 100px;
}
a .submit-btn {
  margin: 0 auto;
  display: flex;
  width: 60%;
}
a {
  text-decoration: none;
}
.submitted-message {
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  margin-top: 20px;
}

.form-button{
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-container {
  position: relative;
  padding-bottom: 50px;
}

.fixed-buttons {
  position: fixed;
  bottom: 200px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.fixed-buttons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--color);
  color: #fff;
  font-size: 30px;
  text-decoration: none;
  transition: background-color 0.3s;
  box-shadow: 0px 0px 10px 0px var(--color);
}

.fixed-buttons a:hover {
  background-color: var(--green);
  color: var(--dark-blue);
}

@media (max-width: 900px) {
  .fixed-buttons {
    position: fixed;
    bottom: 100px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 500px) {
  .fixed-buttons {
    position: fixed;
    bottom: 100px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}